@page
@model CiellosAzureDashboard.Pages.Dashboards.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Dashboard</h1>
<h4>Dashboard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dashboard.DashboardId" />
            <div class="form-group">
                <label asp-for="Dashboard.DashboardName" class="control-label"></label>
                <input asp-for="Dashboard.DashboardName" class="form-control" />
                <span asp-validation-for="Dashboard.DashboardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dashboard.DashboardAnonAccessCode" class="control-label"></label>
                <input asp-for="Dashboard.DashboardAnonAccessCode" class="form-control" />
                <span asp-validation-for="Dashboard.DashboardAnonAccessCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dashboard.DashboardLogoUrl" class="control-label"></label>
                <input asp-for="Dashboard.DashboardLogoUrl" class="form-control" />
                <span asp-validation-for="Dashboard.DashboardLogoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dashboard.DashboardApplications.FirstOrDefault().Application" class="control-label"></label>
                <select asp-for="SelectedApplications" asp-items="@Model.Applications" class="form-control" multiple="multiple"></select>
                <span asp-validation-for="Dashboard.DashboardApplications.FirstOrDefault().Application" class="text-danger"></span>
            </div>
            <div class="form-group">
                <fieldset class="form-add-set">
                    <label for="sets" class="control-label">Links</label>
                    <div class="form-group">
                        <div class="add-sets" id="sets">
                            @Html.EditorFor(x => x.Dashboard.Links)
                        </div>
                        <div class="form-group">
                            <input type="button" value="+" class="glyphicon glyphicon-plus btn btn-success" onclick="addRow()">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
<script type="text/javascript">
    var sets = document.getElementById('sets');
    function addRow() {
        var div = document.createElement('div');
        var rowcount = sets.childElementCount;

        div.className = 'form-inline add-set';

        var divRow = '<div class="form-group">';
        divRow += '      <label asp-for="Dashboard.Links[' + rowcount + '].linkName" class="control-label">Name</label>';
        divRow += '      <input class="form-control valid" id="Dashboard_Links_' + rowcount + '__linkName" name="Dashboard.Links[' + rowcount + '].linkName" type="text" aria-invalid="false">';
        divRow += '      <span asp-validation-for="Dashboard.Links[' + rowcount + '].linkName" class="text-danger" />';
        divRow += '  </div>';
        divRow += '  <div class="form-group">';
        divRow += '      <label asp-for="Dashboard.Links[' + rowcount + '].linkUrl" class="control-label">URL</label>';
        divRow += '      <input class="form-control valid" id="Dashboard_Links_' + rowcount + '__linkUrl" name="Dashboard.Links[' + rowcount + '].linkUrl" type="text" aria-invalid="false">';
        divRow += '       <span asp-validation-for="Dashboard.Links[' + rowcount + '].linkUrl" class="text-danger" />';
        divRow += '  </div>';
        divRow += '  <input type="button" value="-" class="glyphicon glyphicon-minus btn btn-danger" onclick="removeRow(this)">';

        div.innerHTML = divRow;

        sets.appendChild(div);
    }

    function removeRow(input) {
        sets.removeChild(input.parentNode);
    }
</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

