@page
@model CiellosAzureDashboard.Pages.Applications.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Application</h1>
<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Application.AppId" />
            <div class="form-group">
                <label asp-for="Application.Description" class="control-label"></label>
                <input asp-for="Application.Description" class="form-control" />
                <span asp-validation-for="Application.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.ClientId" class="control-label"></label>
                <input asp-for="Application.ClientId" class="form-control" />
                <span asp-validation-for="Application.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.ClientSecret" class="control-label"></label>
                <input asp-for="Application.ClientSecret" class="form-control" />
                <span asp-validation-for="Application.ClientSecret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.SubscriptionId" class="control-label"></label>
                <input asp-for="Application.SubscriptionId" class="form-control" />
                <span asp-validation-for="Application.SubscriptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.TenantId" class="control-label"></label>
                <input asp-for="Application.TenantId" class="form-control" />
                <span asp-validation-for="Application.TenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

