<div class="container-fluid">
    <partial name="_InfoPartial" />
    <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
        <thead style="background: SteelBlue; color: Yellow;">
            <tr>
                <th>VMName</th>
                <th>ResourceGroupName</th>
                <th>Tags</th>
                <th>Subscription</th>
                <th>VMSize</th>
                <th>PowerState</th>
                <th>ProvisioningState</th>
                <th>VMId</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
    <div class="Logs" style="display: none;">
        <p class="lead">Logs</p>
    </div>
</div>

